body{
  background-color: black;
}

  p
  {
  color: white;
  }

  div.container
   {
    position: relative;
    left :40px;
    top:40px;

  }
  div.center {
  position: absolute;
  left: 0px;
  top: 40%;
  width: 95%;
  text-align: center;
  font-size: 70px;
  letter-spacing: 5px;
  font-weight: 500;
}

p.addtext
{

  font-size: 50px;
  letter-spacing: 3px;
  text-align: center;
  color:black;


}
